/* main font family */
@font-face {
    font-family: AXIS Extra Bold;
    src: url(../font/Axis-Extrabold.otf);
}
/*--------- Variables globales for CBLS ---------- */
:root{
    --main-font-family: AXIS Extra Bold;
    --main-color: #66AA2A;
    /* variables de textos */
    --main-text-menu: 2rem;
    --main-title: 4rem;
    --main-subtitles: 2.5rem;
    --main-paragraph: 1.5rem;
    /* variables del button  */
    --main-button-color: #66AA2A;
    --main-button-border-radius: 5px;
    --main-button-text-size: 1rem;
    --main-button-text-color: #fff;
    /* variables de espaciado */
    --main-padding: 100px;
}
/* body{
    padding: var(--main-padding);
} */
#quienes-somos .title{
}
#quienes-somos h1{
    font-family: var(--main-font-family);
    color: var(--main-button-color);
}
#quienes-somos .title-1{
    color: #000;
}